preparativos para la noche buena
cena familiar
panetones
chocolatadas
pavo
champaña
adornos de navidad
luces
esferas navideñas
estrela
reno
preparativos para año nuevo
serpentinas
chicharra
lentes 2020
sombrero amarillo